@require "include"
@require "reset"

html
  background-color $cl-light
  font-size 10px

body
  color $cl-dark
  font-size 1.6rem
  +mobile()
    font-size 1.4rem

a
  text-decoration none

.layout
  overflow hidden
  min-height 100vh

.material-icons
  display inline-flex
  align-items center
  font-size 1em