@require "lib/**/*"
@require "reset"
@require "plugins/**/*"

html
  background-color $cl-light
  font-size 10px

body
  color $cl-dark
  min-height 768px
  min-width 768px
  font-size 1.6rem
  +mobile()
    font-size 1.4rem

a
  text-decoration none

button
  border none

.layout
  overflow hidden
  height 100%

.layout > *
  height 100%